---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&ImageId.1=ami-06130829ed7f50ca1&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200424T165311Z
      X-Amz-Content-Sha256:
      - b18c9ea85c9f1007a56f4bd896adb36463395f9634db47bc9f686ccd1fc81869
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200424/us-east-2/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f818e540-37f4-49f3-887e-a257f0feab4f
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>f818e540-37f4-49f3-887e-a257f0feab4f</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-06130829ed7f50ca1</imageId>
                    <imageLocation>373045849756/test-image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>MASKED_IMAGE_OWNER_ID</imageOwnerId>
                    <creationDate>2020-04-24T16:08:08.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>test-image</name>
                    <description>image to record in tests</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>MASKED_BLOCK_DEVICE_MAPPING</blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <tagSet>
                        <item>
                            <key>sha</key>
                            <value>randomSha</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Fri, 24 Apr 2020 16:53:12 GMT
recorded_with: VCR 5.1.0
