---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=doesnotmatter&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154917Z
      X-Amz-Content-Sha256:
      - 7fbb919a852977e9f662bc85e932e37164683fee231016b783a11bcbe839808c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 5798503d-a1b1-409a-b6a2-3490a04b172a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id doesnotmatter does not exist</Message>
          </Error>
          <RequestId>5798503d-a1b1-409a-b6a2-3490a04b172a</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:49:17 GMT
recorded_with: VCR 4.0.0
