---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200703Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6b4b3d92-ae79-4e90-a1ee-14e670fb59e7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>6b4b3d92-ae79-4e90-a1ee-14e670fb59e7</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 10 Jun 2022 20:07:04 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20220610T200704Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - AST5W4916TTJ7NTF
      X-Amz-Version-Id:
      - hkN7B3ltnZM5okxLPG7kKxM2M2Wep8V3
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 10 Jun 2022 20:07:04 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=aws-ruby-rspec-query-1&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200704Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - c441f6aa4609ab80beaa18196a2c77483b51026b0b55e1aca7294bea94bc715e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 27d9177d-2bc7-4052-8192-f366f9d283cc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/aws-ruby-rspec-query-1/e5c4dbe0-e8f8-11ec-a55b-0ac9dd9976c8</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>27d9177d-2bc7-4052-8192-f366f9d283cc</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:07:05 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=aws-ruby-rspec-query-1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200705Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - aed9e6129ae9976f38aabc98558a112771b581a487e86cf00ab3d13ec2e6a7af
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 15c07731-8608-4c6b-b4c9-73725a892624
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2022-06-10T20:07:05.147Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/aws-ruby-rspec-query-1/e5c4dbe0-e8f8-11ec-a55b-0ac9dd9976c8</StackId>
                <StackName>aws-ruby-rspec-query-1</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>15c07731-8608-4c6b-b4c9-73725a892624</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 10 Jun 2022 20:07:05 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=aws-ruby-rspec-query-1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200732Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 4c9a5d0e3d011869d12156425a685dfb63baa35226b11b2de6fb409b135572ff
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 53e1a9ea-13b8-4514-8850-a8b8c43d1cde
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2022-06-10T20:07:29.387Z</LastUpdatedTimestamp>
                <PhysicalResourceId>aws-ruby-rspec-query-1-s3bucket-1cjh3hpruyz5s</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>53e1a9ea-13b8-4514-8850-a8b8c43d1cde</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 10 Jun 2022 20:07:32 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&RetainResources=&StackName=aws-ruby-rspec-query-1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200831Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - ea5630fea4c6614dd45f50cc204af13c2c6102a975ad2baf4160db0769d32816
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d8280f52-9e82-4140-87ed-3d448a4ed022
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>d8280f52-9e82-4140-87ed-3d448a4ed022</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:08:31 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=aws-ruby-rspec-query-1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200837Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - aed9e6129ae9976f38aabc98558a112771b581a487e86cf00ab3d13ec2e6a7af
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 847dd710-0430-4da2-b418-dd9dd04c25f4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id aws-ruby-rspec-query-1 does not exist</Message>
          </Error>
          <RequestId>847dd710-0430-4da2-b418-dd9dd04c25f4</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 10 Jun 2022 20:08:37 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=aws-ruby-rspec-query-3&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200849Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - d32cda5c841707c91d23a519603d4a51d097f5bf404d417acbe95e81965bd44d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 734b5d5b-3594-490c-b9e2-5c51283654f3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id aws-ruby-rspec-query-3 does not exist</Message>
          </Error>
          <RequestId>734b5d5b-3594-490c-b9e2-5c51283654f3</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 10 Jun 2022 20:08:49 GMT
recorded_with: VCR 6.0.0
