---
http_interactions:
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/described_parameter","Type":"String","Value":"booyah","Description":"Very
        descriptive"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20190612T203000Z
      X-Amz-Content-Sha256:
      - a64e9ed75528bd0449690ff687ef671cc9bbce09f203fd5f673db0f6e6b223f3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190612/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d1f595b6-cacb-4bf6-9161-f925791196b8
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Version":1}'
  recorded_at: Wed, 12 Jun 2019 20:30:00 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/described_parameter"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Amz-Date:
      - 20190612T203000Z
      X-Amz-Content-Sha256:
      - c2a7479d9bd23ab42f14a2ab527a4d71bda2a5d71fd50d494f6251587abe9024
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190612/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4fe9faa8-fee9-40d1-95f6-bf950866b2fd
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-rspec/described_parameter","LastModifiedDate":1.560371400497E9,"Name":"/openstax-aws-ruby-rspec/described_parameter","Type":"String","Value":"booyah","Version":1}}'
  recorded_at: Wed, 12 Jun 2019 20:30:00 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ParameterFilters":[{"Key":"Name","Option":"Equals","Values":["/openstax-aws-ruby-rspec/described_parameter"]}],"MaxResults":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Amz-Date:
      - 20190612T203000Z
      X-Amz-Content-Sha256:
      - 91808b468a804706e54fc478b138fe62bd33eda87abe660ff1165a60106a5e00
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190612/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b5e3f822-8aa9-4e4c-b5ab-b66e977b8eda
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[{"Description":"Very descriptive","LastModifiedDate":1.560371400497E9,"LastModifiedUser":"arn:aws:iam::373045849756:user/jpslav","Name":"/openstax-aws-ruby-rspec/described_parameter","Policies":[],"Tier":"Standard","Type":"String","Version":1}]}'
  recorded_at: Wed, 12 Jun 2019 20:30:01 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-rspec/described_parameter"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20190612T203001Z
      X-Amz-Content-Sha256:
      - c8099b0d3ed70c8bab216d09320da3e1a770fc4f1d3e273d0a04f5a87a640965
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190612/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 646ba8c2-4f53-46ea-95c4-d07d7e43b5e5
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-rspec/described_parameter"],"InvalidParameters":[]}'
  recorded_at: Wed, 12 Jun 2019 20:30:01 GMT
recorded_with: VCR 4.0.0
