---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-param-update&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154845Z
      X-Amz-Content-Sha256:
      - f74ab55032086d368109ff16f69c0801f4019fc335bc01f11a10dfa2505f93ec
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 2121bd06-4b4c-42db-81ba-92f9f93dc7ff
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-param-update does not exist</Message>
          </Error>
          <RequestId>2121bd06-4b4c-42db-81ba-92f9f93dc7ff</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:48:45 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20aws-ruby%20spec%20template%20-%20updating_parameters%20-%20orig%0A%0AParameters%3A%0A%0A%20%20WillGoAway%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SticksAround%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SticksAroundNoDefault%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20VolatileValue%3A%0A%20%20%20[...]
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/orig.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          aws-ruby spec template - updating_parameters - orig

        Parameters:

          WillGoAway:
            Type: String

          SticksAround:
            Type: String

          SticksAroundNoDefault:
            Type: String

          VolatileValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: openstax-aws-ruby-spec-param-updates
              Tags:
                - Key: Tag1
                  Value: !Ref 'VolatileValue'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - AH27CeMSRHUQQXtItyHgsA==
      X-Amz-Date:
      - 20191124T154846Z
      X-Amz-Content-Sha256:
      - 24d48a4517a5898c06d2cb1a55fdb4c367421004ecdff431082af0cfc43b7dc8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5058B6BC849814FB
      X-Amz-Version-Id:
      - 11NR.AVHPGZAGoORf.lzqEk4ROtVYqrP
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"007dbb09e312447510417b48b721e0b0"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Nov 2019 15:48:46 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=WillGoAway&Parameters.member.1.ParameterValue=value1&Parameters.member.2.ParameterKey=SticksAround&Parameters.member.2.ParameterValue=value2&Parameters.member.3.ParameterKey=VolatileValue&Parameters.member.3.ParameterValue=gonna_change&Parameters.member.4.ParameterKey=SticksAroundNoDefault&Parameters.member.4.ParameterValue=value3&StackName=spec-aws-ruby-stack-param-update&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Forig.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154846Z
      X-Amz-Content-Sha256:
      - '019f0ff6cfd32dedae531cd351386da9de741998a6afed02af608d8d9772f0c4'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f4f23c3d-de62-459b-b057-001634cde8f7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-param-update/e6b1b0e0-0ed1-11ea-97a9-023ebc410218</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>f4f23c3d-de62-459b-b057-001634cde8f7</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:48:47 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-param-update&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154847Z
      X-Amz-Content-Sha256:
      - f74ab55032086d368109ff16f69c0801f4019fc335bc01f11a10dfa2505f93ec
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5ef2fae2-685c-491b-90de-e999092f9c21
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-11-24T15:48:47.592Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-param-update/e6b1b0e0-0ed1-11ea-97a9-023ebc410218</StackId>
                <StackName>spec-aws-ruby-stack-param-update</StackName>
                <Description>aws-ruby spec template - updating_parameters - orig
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>SticksAround</ParameterKey>
                    <ParameterValue>value2</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>WillGoAway</ParameterKey>
                    <ParameterValue>value1</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SticksAroundNoDefault</ParameterKey>
                    <ParameterValue>value3</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>VolatileValue</ParameterKey>
                    <ParameterValue>gonna_change</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>5ef2fae2-685c-491b-90de-e999092f9c21</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Sun, 24 Nov 2019 15:48:48 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-param-update&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154916Z
      X-Amz-Content-Sha256:
      - 82c79116f73f17287d34d933db5ef0abee3c232653b46572916d027f809ef766
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 417c8fba-1a15-4784-9b0a-486d3b2ffa08
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>417c8fba-1a15-4784-9b0a-486d3b2ffa08</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:49:17 GMT
recorded_with: VCR 4.0.0
