---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20aws-ruby%20spec%20template%20-%20updating_parameters%20-%20orig%0A%0AParameters%3A%0A%0A%20%20WillGoAway%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SticksAround%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SticksAroundNoDefault%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20VolatileValue%3A%0A%20%20%20%20Type%3A%20String%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A%20%20%20%20Properties%3A%0A%20%20%20%20%20%20BucketName%3A%20openstax-aws-ruby-spec-param-updates%0A%20%20%20%20%20%20Tags%3A%0A%20%20%20%20%20%20%20%20-%20Key%3A%20Tag1%0A%20%20%20%20%20%20%20%20%20%20Value%3A%20%21Ref%20%27VolatileValue%27%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193741Z
      X-Amz-Content-Sha256:
      - 3190577b59baf8d5700c32941292b06f3736729f5c5819972b733aab8a945455
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d10b7147-fc70-475e-b6ed-fa51ab5d9bd2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>aws-ruby spec template - updating_parameters - orig
        </Description>
            <Parameters>
              <member>
                <ParameterKey>SticksAround</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
              <member>
                <ParameterKey>WillGoAway</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
              <member>
                <ParameterKey>SticksAroundNoDefault</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
              <member>
                <ParameterKey>VolatileValue</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
            </Parameters>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>d10b7147-fc70-475e-b6ed-fa51ab5d9bd2</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 08 Nov 2019 19:37:41 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/orig.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          aws-ruby spec template - updating_parameters - orig

        Parameters:

          WillGoAway:
            Type: String

          SticksAround:
            Type: String

          SticksAroundNoDefault:
            Type: String

          VolatileValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: openstax-aws-ruby-spec-param-updates
              Tags:
                - Key: Tag1
                  Value: !Ref 'VolatileValue'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - AH27CeMSRHUQQXtItyHgsA==
      X-Amz-Date:
      - 20191108T193741Z
      X-Amz-Content-Sha256:
      - 24d48a4517a5898c06d2cb1a55fdb4c367421004ecdff431082af0cfc43b7dc8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 3189B9A42965AF43
      X-Amz-Version-Id:
      - ABnDU9G8s7J34iEEdiHrfm318RSJ_RKl
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"007dbb09e312447510417b48b721e0b0"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 19:37:42 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=WillGoAway&Parameters.member.1.ParameterValue=value1&Parameters.member.2.ParameterKey=SticksAround&Parameters.member.2.ParameterValue=value2&Parameters.member.3.ParameterKey=VolatileValue&Parameters.member.3.ParameterValue=gonna_change&Parameters.member.4.ParameterKey=SticksAroundNoDefault&Parameters.member.4.ParameterValue=value3&StackName=spec-aws-ruby-stack-param-update&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Forig.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193742Z
      X-Amz-Content-Sha256:
      - '019f0ff6cfd32dedae531cd351386da9de741998a6afed02af608d8d9772f0c4'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3735cb2b-8c87-4cf7-a155-4b1630beb298
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-param-update/3b28a6d0-025f-11ea-902e-023006f8d510</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>3735cb2b-8c87-4cf7-a155-4b1630beb298</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 08 Nov 2019 19:37:43 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-param-update&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193743Z
      X-Amz-Content-Sha256:
      - f74ab55032086d368109ff16f69c0801f4019fc335bc01f11a10dfa2505f93ec
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8ae55aad-906c-45ff-b0ec-65d036624409
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-11-08T19:37:43.234Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-param-update/3b28a6d0-025f-11ea-902e-023006f8d510</StackId>
                <StackName>spec-aws-ruby-stack-param-update</StackName>
                <Description>aws-ruby spec template - updating_parameters - orig
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>SticksAround</ParameterKey>
                    <ParameterValue>value2</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>WillGoAway</ParameterKey>
                    <ParameterValue>value1</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SticksAroundNoDefault</ParameterKey>
                    <ParameterValue>value3</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>VolatileValue</ParameterKey>
                    <ParameterValue>gonna_change</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>8ae55aad-906c-45ff-b0ec-65d036624409</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 08 Nov 2019 19:37:43 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-param-update&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193811Z
      X-Amz-Content-Sha256:
      - 82c79116f73f17287d34d933db5ef0abee3c232653b46572916d027f809ef766
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f9b34d67-20e5-4674-862d-e77c08e28a6f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>f9b34d67-20e5-4674-862d-e77c08e28a6f</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 08 Nov 2019 19:38:12 GMT
recorded_with: VCR 4.0.0
