---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150548Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - aa9267ad-a046-4f00-bbb9-b2910ec0d50a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id openstax-aws-ruby-secrets-secrets-dsl-spec-main does not exist</Message>
          </Error>
          <RequestId>aa9267ad-a046-4f00-bbb9-b2910ec0d50a</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:05:48 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/openstax/aws-ruby/1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e/spec/support/secrets_dsl/secrets.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c389fab04d22358a1912ffe1fb36ebd06b07b4ec3967278c81fbf4e3b0bd8e5c"
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 806989c8d3f1ef9624535c8fda89ef067b6d19c8
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        production:
          random: random(hex,4)
          interpolated: "https://{{ domain }}"
          for_shared_substitution: "howdy {{ shared_value }}"
  recorded_at: Sun, 24 Nov 2019 15:05:49 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","Type":"String","Value":"something-deployment-specific","Overwrite":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191124T150549Z
      X-Amz-Content-Sha256:
      - 47b11b12abf0d8dbb242518083482c379f7cbc802ed34b0594480da3a6387264
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1ceb6384-992c-4c30-a708-e1238816f07d
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Sun, 24 Nov 2019 15:05:49 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","Type":"String","Value":"ef98","Description":"Generated
        with random(hex,4)","Overwrite":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191124T150549Z
      X-Amz-Content-Sha256:
      - 48be5936e929b3e833588f5a9b6566ac20fbfb3af3f3384403ec803f4bdfcaa9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 74e81a24-a31c-431d-8c5c-4fc68a3c0403
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Sun, 24 Nov 2019 15:05:50 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Secrets%20DSL%20spec%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SomeSha%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20CycleIfDifferent%3A%0A%20%20%20%20Type%3A%20String%0A%20%20%20%20Default%3A%20%27%27%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Typ[...]
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/main.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Secrets DSL spec

        Parameters:

          BucketName:
            Type: String

          SomeSha:
            Type: String

          CycleIfDifferent:
            Type: String
            Default: ''

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
              - Key: MakeThereBeAChangeForCycleIfDifferent
                Value: !Ref 'CycleIfDifferent'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - 8yxzLgG2B03JVM2GIHDcfw==
      X-Amz-Date:
      - 20191124T150552Z
      X-Amz-Content-Sha256:
      - 64e8ada9f3320d27210e42c3d99b33b451892c68d0c964fd9e3bfff375f96cf2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 95C12B1D893D62B4
      X-Amz-Version-Id:
      - wIL.uSEi_vI.rxjju1GMciFWeKK70.Kt
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"f32c732e01b6074dc954cd862070dc7f"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Nov 2019 15:05:52 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=SomeSha&Parameters.member.1.ParameterValue=1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e&Parameters.member.2.ParameterKey=BucketName&Parameters.member.2.ParameterValue=aws-ruby-spec-secrets-dsl-create&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fmain.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150552Z
      X-Amz-Content-Sha256:
      - 0efcada8844666611cbeeee0d048eb4b18547095ad4d23b6f67381bcbd9f4f5c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4f8fcece-fbd5-43e9-9ef6-5b3bb66ba5ec
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/e86eb1e0-0ecb-11ea-9caa-0a9fc5c4303c</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>4f8fcece-fbd5-43e9-9ef6-5b3bb66ba5ec</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:05:53 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150553Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f9221b55-68ad-46a6-8b97-21122a95528f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-11-24T15:05:53.558Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/e86eb1e0-0ecb-11ea-9caa-0a9fc5c4303c</StackId>
                <StackName>openstax-aws-ruby-secrets-secrets-dsl-spec-main</StackName>
                <Description>Secrets DSL spec
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-spec-secrets-dsl-create</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>CycleIfDifferent</ParameterKey>
                    <ParameterValue/>
                  </member>
                  <member>
                    <ParameterKey>SomeSha</ParameterKey>
                    <ParameterValue>1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>f9221b55-68ad-46a6-8b97-21122a95528f</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Sun, 24 Nov 2019 15:05:54 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150621Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f28f0c46-8296-463a-99cd-a0f74da91f27
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <ExportName>openstax-aws-ruby-secrets-secrets-dsl-spec-main-BucketArn</ExportName>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-spec-secrets-dsl-create</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2019-11-24T15:05:53.558Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/e86eb1e0-0ecb-11ea-9caa-0a9fc5c4303c</StackId>
                <StackName>openstax-aws-ruby-secrets-secrets-dsl-spec-main</StackName>
                <Des[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Path":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main","Recursive":true,"WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
      X-Amz-Date:
      - 20191124T150621Z
      X-Amz-Content-Sha256:
      - ee4cace661067379e2c2bb2ed8207728408333532e4ed94d0165acb17ff0e2c9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1e528f09-c0a5-4cc5-953b-ba253b823e95
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","DataType":"text","LastModifiedDate":1.574607949854E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","Type":"String","Value":"something-deployment-specific","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","DataType":"text","LastModifiedDate":1.574607951009E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","Type":"String","Value":"howdy
        y''all","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","DataType":"text","LastModifiedDate":1.574607950611E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","Type":"String","Value":"https://something-deployment-specific","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","DataType":"text","LastModifiedDate":1.574607951407E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","Type":"String","Value":"foo","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","DataType":"text","LastModifiedDate":1.574607950234E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","Type":"String","Value":"ef98","Version":1}]}'
  recorded_at: Sun, 24 Nov 2019 15:06:22 GMT
[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20191124T150622Z
      X-Amz-Content-Sha256:
      - 9eae29c9a9c93edd7d56bcefe36da0f52736679f0b9c2a53c303ff22e0e49d30
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 26b45fd7-5003-42b7-a2ca-6354b2db6e1c
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random"],"InvalidParameters":[]}'
  recorded_at: Sun, 24 Nov 2019 15:06:22 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150624Z
      X-Amz-Content-Sha256:
      - a5000bf791a40989964ea0e8de9c3104f1c1bb65e6267d7cc59c4bcec8b9f3d4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ee969378-bffe-45e8-bbd9-8279cd98ee98
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>ee969378-bffe-45e8-bbd9-8279cd98ee98</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:06:24 GMT
[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Path":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main","Recursive":true,"WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
      X-Amz-Date:
      - 20191124T150631Z
      X-Amz-Content-Sha256:
      - ee4cace661067379e2c2bb2ed8207728408333532e4ed94d0165acb17ff0e2c9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6c6d8eb9-f685-496a-ae1f-7c6536e2f37a
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[]}'
  recorded_at: Sun, 24 Nov 2019 15:06:31 GMT
recorded_with: VCR 4.0.0
