---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150631Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 89233f4c-db0a-45d2-8bac-13fe6ef82057
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id openstax-aws-ruby-secrets-secrets-dsl-spec-main does not exist</Message>
          </Error>
          <RequestId>89233f4c-db0a-45d2-8bac-13fe6ef82057</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:06:31 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/openstax/aws-ruby/1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e/spec/support/secrets_dsl/secrets.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c389fab04d22358a1912ffe1fb36ebd06b07b4ec3967278c81fbf4e3b0bd8e5c"
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 5d4a28f621e4e98c8499625b9dd8b29a3a6d9b20
      Source-Age:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: |
        production:
          random: random(hex,4)
          interpolated: "https://{{ domain }}"
          for_shared_substitution: "howdy {{ shared_value }}"
  recorded_at: Sun, 24 Nov 2019 15:06:32 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","Type":"String","Value":"something-deployment-specific","Overwrite":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191124T150632Z
      X-Amz-Content-Sha256:
      - 47b11b12abf0d8dbb242518083482c379f7cbc802ed34b0594480da3a6387264
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e8c75efc-5723-4d36-84f0-962b8dd64d15
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Sun, 24 Nov 2019 15:06:32 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","Type":"String","Value":"9070","Description":"Generated
        with random(hex,4)","Overwrite":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191124T150632Z
      X-Amz-Content-Sha256:
      - 4303bc3835d76dd4dfc0d72eb032295978bdb2acf6c8dc201a8d1ff575e4be54
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3edc65fc-a465-4f1c-afbf-1e778547585a
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Sun, 24 Nov 2019 15:06:32 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Secrets%20DSL%20spec%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20SomeSha%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20CycleIfDifferent%3A%0A%20%20%20%20Type%3A%20String%0A%20%20%20%20Default%3A%20%27%27%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Typ[...]
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/main.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Secrets DSL spec

        Parameters:

          BucketName:
            Type: String

          SomeSha:
            Type: String

          CycleIfDifferent:
            Type: String
            Default: ''

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
              - Key: MakeThereBeAChangeForCycleIfDifferent
                Value: !Ref 'CycleIfDifferent'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - 8yxzLgG2B03JVM2GIHDcfw==
      X-Amz-Date:
      - 20191124T150634Z
      X-Amz-Content-Sha256:
      - 64e8ada9f3320d27210e42c3d99b33b451892c68d0c964fd9e3bfff375f96cf2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - B44D204E35C52247
      X-Amz-Version-Id:
      - halp4KO5nqZ3HNFat4RiBwDgvNm70o0_
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"f32c732e01b6074dc954cd862070dc7f"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Nov 2019 15:06:34 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=SomeSha&Parameters.member.1.ParameterValue=1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e&Parameters.member.2.ParameterKey=BucketName&Parameters.member.2.ParameterValue=aws-ruby-spec-secrets-dsl-create&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fmain.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150634Z
      X-Amz-Content-Sha256:
      - 0efcada8844666611cbeeee0d048eb4b18547095ad4d23b6f67381bcbd9f4f5c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9ae4f3d7-61f3-4771-aa68-e75aa29daf07
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/01ab9240-0ecc-11ea-9b3a-02ae28e83a86</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>9ae4f3d7-61f3-4771-aa68-e75aa29daf07</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:06:36 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150636Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - de9c3c51-76a0-4dcb-96fd-5d1e2eab6d2a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-11-24T15:06:35.887Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/01ab9240-0ecc-11ea-9b3a-02ae28e83a86</StackId>
                <StackName>openstax-aws-ruby-secrets-secrets-dsl-spec-main</StackName>
                <Description>Secrets DSL spec
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-spec-secrets-dsl-create</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>CycleIfDifferent</ParameterKey>
                    <ParameterValue/>
                  </member>
                  <member>
                    <ParameterKey>SomeSha</ParameterKey>
                    <ParameterValue>1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>de9c3c51-76a0-4dcb-96fd-5d1e2eab6d2a</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Sun, 24 Nov 2019 15:06:36 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150703Z
      X-Amz-Content-Sha256:
      - bba9ab149be09911f60e83e18c4e577ef4401099a40abc92d767daf01234db21
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4353ca0f-9969-4199-a519-e26baeb14821
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <ExportName>openstax-aws-ruby-secrets-secrets-dsl-spec-main-BucketArn</ExportName>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-spec-secrets-dsl-create</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2019-11-24T15:06:35.887Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/01ab9240-0ecc-11ea-9b3a-02ae28e83a86</StackId>
                <StackName>openstax-aws-ruby-secrets-secrets-dsl-spec-main</StackName>
                <Des[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Path":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main","Recursive":true,"WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
      X-Amz-Date:
      - 20191124T150704Z
      X-Amz-Content-Sha256:
      - ee4cace661067379e2c2bb2ed8207728408333532e4ed94d0165acb17ff0e2c9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 251c9001-f616-4066-b83b-69c6644333dc
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","DataType":"text","LastModifiedDate":1.574607992535E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","Type":"String","Value":"something-deployment-specific","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","DataType":"text","LastModifiedDate":1.57460799368E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","Type":"String","Value":"howdy
        y''all","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","DataType":"text","LastModifiedDate":1.57460799329E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","Type":"String","Value":"https://something-deployment-specific","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","DataType":"text","LastModifiedDate":1.574607994063E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","Type":"String","Value":"foo","Version":1},{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","DataType":"text","LastModifiedDate":1.574607992915E9,"Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","Type":"String","Value":"9070","Version":1}]}'
  recorded_at: Sun, 24 Nov 2019 15:07:04 GMT
[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ParameterFilters":[{"Key":"Name","Option":"Equals","Values":["/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random"]}],"MaxResults":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Amz-Date:
      - 20191124T150705Z
      X-Amz-Content-Sha256:
      - 9a8fbce2781c4001ccbf1e3f337fbd5239194b0b5a4ba7ea3b0ace417841f070
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 150e2fed-796d-4acc-9595-65c81aadeed2
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[{"DataType":"text","Description":"Generated with random(hex,4)","LastModifiedDate":1.574607992915E9,"LastModifiedUser":"arn:aws:iam::373045849756:user/jpslav","Name":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random","Policies":[],"Tier":"Standard","Type":"String","Version":1}]}'
  recorded_at: Sun, 24 Nov 2019 15:07:06 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateChangeSet&Capabilities=&ChangeSetName=openstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.UsePreviousValue=true&Parameters.member.2.ParameterKey=SomeSha&Parameters.member.2.UsePreviousValue=true&Parameters.member.3.ParameterKey=CycleIfDifferent&Parameters.member.3.ParameterValue=865c4820db0d4e6c773c&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fmain.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150706Z
      X-Amz-Content-Sha256:
      - 4781704a580b371fd7a7fb0c155b3be6cf09c2c4cd54b323496eb703f3279ff2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bf51865c-c435-4dff-937d-c1fccd6ae611
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateChangeSetResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/01ab9240-0ecc-11ea-9b3a-02ae28e83a86</StackId>
            <Id>arn:aws:cloudformation:us-east-2:373045849756:changeSet/openstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706/f90089ca-32f4-4728-8fd0-f7e5e877c157</Id>
          </CreateChangeSetResult>
          <ResponseMetadata>
            <RequestId>bf51865c-c435-4dff-937d-c1fccd6ae611</RequestId>
          </ResponseMetadata>
        </CreateChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:07:08 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3A373045849756%3AchangeSet%2Fopenstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706%2Ff90089ca-32f4-4728-8fd0-f7e5e877c157&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150708Z
      X-Amz-Content-Sha256:
      - 553894f90b55a43654a9da7b3ae0712c99221fe2b47b35fa2f4f9deae7241659
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4715f9e0-2570-4d22-91b7-a2ced32caebb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeChangeSetResult>
            <Capabilities/>
            <CreationTime>2019-11-24T15:07:08.320Z</CreationTime>
            <NotificationARNs/>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/openstax-aws-ruby-secrets-secrets-dsl-spec-main/01ab9240-0ecc-11ea-9b3a-02ae28e83a86</StackId>
            <ExecutionStatus>UNAVAILABLE</ExecutionStatus>
            <StackName>openstax-aws-ruby-secrets-secrets-dsl-spec-main</StackName>
            <Changes/>
            <ChangeSetName>openstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706</ChangeSetName>
            <RollbackConfiguration/>
            <Parameters>
              <member>
                <ParameterKey>BucketName</ParameterKey>
                <ParameterValue>aws-ruby-spec-secrets-dsl-create</ParameterValue>
              </member>
              <member>
                <ParameterKey>CycleIfDifferent</ParameterKey>
                <ParameterValue>865c4820db0d4e6c773c</ParameterValue>
              </member>
              <member>
                <ParameterKey>SomeSha</ParameterKey>
                <ParameterValue>1b2ebfd91dd9fb34d58c834cbb70a21c6479ba8e</ParameterValue>
              </member>
            </Parameters>
            <ChangeSetId>arn:aws:cloudformation:us-east-2:373045849756:changeSet/openstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706/f90089ca-32f4-4728-8fd0-f7e5e877c157</ChangeSetId>
            <Status>CREATE_IN_PROGRESS</Status>
          </DescribeChangeSetResult>
          <ResponseMetadata>
            <RequestId>4715f9e0-2570-4d22-91b7-a2ced32caebb</RequestId>
          </ResponseMetadata>
        </DescribeChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:07:08 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ExecuteChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3A373045849756%3AchangeSet%2Fopenstax-aws-ruby-secrets-secrets-dsl-spec-main-20191124-150706%2Ff90089ca-32f4-4728-8fd0-f7e5e877c157&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150714Z
      X-Amz-Content-Sha256:
      - bb40287ff0ac911d188ebd3d8a84ce1965c4ebc0ae0c59fe283f764d4606e509
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ba130970-8efc-41e8-ab9f-8e34bc570412
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ExecuteChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ExecuteChangeSetResult/>
          <ResponseMetadata>
            <RequestId>ba130970-8efc-41e8-ab9f-8e34bc570412</RequestId>
          </ResponseMetadata>
        </ExecuteChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:07:15 GMT
[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20191124T150743Z
      X-Amz-Content-Sha256:
      - 9eae29c9a9c93edd7d56bcefe36da0f52736679f0b9c2a53c303ff22e0e49d30
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 655d298b-c681-40d3-ab98-fd4045439c8e
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-secrets/secrets-dsl-spec/main/content_key","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/for_shared_substitution","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/interpolated","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/more_secrets","/openstax-aws-ruby-secrets/secrets-dsl-spec/main/random"],"InvalidParameters":[]}'
  recorded_at: Sun, 24 Nov 2019 15:07:44 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=openstax-aws-ruby-secrets-secrets-dsl-spec-main&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T150745Z
      X-Amz-Content-Sha256:
      - a5000bf791a40989964ea0e8de9c3104f1c1bb65e6267d7cc59c4bcec8b9f3d4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fa05f750-fca8-4c51-852f-6a6563d5873d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>fa05f750-fca8-4c51-852f-6a6563d5873d</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:07:46 GMT
[...]
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Path":"/openstax-aws-ruby-secrets/secrets-dsl-spec/main","Recursive":true,"WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
      X-Amz-Date:
      - 20191124T150752Z
      X-Amz-Content-Sha256:
      - ee4cace661067379e2c2bb2ed8207728408333532e4ed94d0165acb17ff0e2c9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7039ac4b-fe43-4c36-aa14-9057c1b3e6a0
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameters":[]}'
  recorded_at: Sun, 24 Nov 2019 15:07:52 GMT
recorded_with: VCR 4.0.0
