---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=tag%3Asha&Filter.1.Value.1=randomSha&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200424T162637Z
      X-Amz-Content-Sha256:
      - 3dcdcb7791159c53f98fa4daf2c234bb4927217e103aa939dda9bb39c58be88a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200424/us-east-2/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bea3f470-d24a-4936-b853-0dcf52f38274
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>bea3f470-d24a-4936-b853-0dcf52f38274</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-06130829ed7f50ca1</imageId>
                    <imageLocation>373045849756/test-image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>373045849756</imageOwnerId>
                    <creationDate>2020-04-24T16:08:08.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>test-image</name>
                    <description>image to record in tests</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0336afe7ef6da0c8c</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <tagSet>
                        <item>
                            <key>sha</key>
                            <value>randomSha</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Fri, 24 Apr 2020 16:26:38 GMT
recorded_with: VCR 5.1.0
