---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-new-template&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154604Z
      X-Amz-Content-Sha256:
      - d95f800c28614edc4ceb0feda5e47d26d6cef558af128e412c1639dc293a4996
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - d8bf9263-c96c-4a06-9882-3802d29db738
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-update-new-template does not exist</Message>
          </Error>
          <RequestId>d8bf9263-c96c-4a06-9882-3802d29db738</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:04 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Test%20template%20one%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20TagValue%3A%0A%20%20%20%20Type%3A%20String%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A%20%20%20%20Properties%3A%0A%20%20%20%20%20%20BucketName%3A%2[...]
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/template_one.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Test template one

        Parameters:

          BucketName:
            Type: String

          TagValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
                - Key: Tag1
                  Value: !Ref 'TagValue'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - iwRQXuudefxiuYnuy/AKYA==
      X-Amz-Date:
      - 20191124T154604Z
      X-Amz-Content-Sha256:
      - 44820f5081bfdd4c387cf15b34f8f70367dbba4e87e0c51380353e1b3b436eab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 6D45A192653B47AC
      X-Amz-Version-Id:
      - wAVkG5c5m09hFfZwJECXPCVRHicEc7pz
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"8b04505eeb9d79fc62b989eecbf00a60"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Nov 2019 15:46:05 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.ParameterValue=aws-ruby-rspec-bucket&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.ParameterValue=howdy&StackName=spec-aws-ruby-stack-update-new-template&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Ftemplate_one.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154605Z
      X-Amz-Content-Sha256:
      - 4d2f4a028799fff4a5cbe3880f780cccb6340eca4fa2736d350dc31bded0b733
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ef303923-36ff-452f-94ef-5a78614a880a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-update-new-template/867771b0-0ed1-11ea-8f06-025282f53354</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>ef303923-36ff-452f-94ef-5a78614a880a</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:06 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-new-template&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154606Z
      X-Amz-Content-Sha256:
      - d95f800c28614edc4ceb0feda5e47d26d6cef558af128e412c1639dc293a4996
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 04c12c68-1aba-4eaf-803d-a06f0662a1a5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-11-24T15:46:06.154Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-update-new-template/867771b0-0ed1-11ea-8f06-025282f53354</StackId>
                <StackName>spec-aws-ruby-stack-update-new-template</StackName>
                <Description>Test template one
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>TagValue</ParameterKey>
                    <ParameterValue>howdy</ParameterValue>
                  </member>
                </Parameters>
                <StackStatusReason>User Initiated</StackStatusReason>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>04c12c68-1aba-4eaf-803d-a06f0662a1a5</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:06 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-new-template&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154633Z
      X-Amz-Content-Sha256:
      - d95f800c28614edc4ceb0feda5e47d26d6cef558af128e412c1639dc293a4996
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fe9d1603-87e2-45d0-8730-b07cf9c71775
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <ExportName>spec-aws-ruby-stack-update-new-template-BucketArn</ExportName>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-rspec-bucket</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2019-11-24T15:46:06.154Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-update-new-template/867771b0-0ed1-11ea-8f06-025282f53354</StackId>
                <StackName>spec-aws-ruby-stack-update-new-template</StackName>
                <Description>Test template one
[...]
[...]
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/template_one_mod.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Test template one mod

        Parameters:

          BucketName:
            Type: String

          TagValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
                - Key: Tag1
                  Value: !Ref 'TagValue'

        Outputs:

          BucketArnMod:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - IizL1DB4bycUOF2d4XlC1g==
      X-Amz-Date:
      - 20191124T154634Z
      X-Amz-Content-Sha256:
      - 5ad35ad2af86222e60a5cfe2121a209113cd24760fbdbba63571a7dfd0ae619a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5264C4CC5D92F244
      X-Amz-Version-Id:
      - 0LNI6gpHC9dhDVs3_d261GrHgupNgkNn
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"222ccbd430786f2714385d9de17942d6"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Nov 2019 15:46:35 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateChangeSet&Capabilities=&ChangeSetName=spec-aws-ruby-stack-update-new-template-20191124-154635&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.UsePreviousValue=true&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.UsePreviousValue=true&StackName=spec-aws-ruby-stack-update-new-template&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Ftemplate_one_mod.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154635Z
      X-Amz-Content-Sha256:
      - d9a2b0ccabec649421782cd11626ad09ab10e9f91376be6dcd14f702c4e0f0c6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ce5aee07-555d-4ca9-bdf9-2e297f403bd5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateChangeSetResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-update-new-template/867771b0-0ed1-11ea-8f06-025282f53354</StackId>
            <Id>arn:aws:cloudformation:us-east-2:373045849756:changeSet/spec-aws-ruby-stack-update-new-template-20191124-154635/7dff374a-7496-47cc-be27-c97a5e572d61</Id>
          </CreateChangeSetResult>
          <ResponseMetadata>
            <RequestId>ce5aee07-555d-4ca9-bdf9-2e297f403bd5</RequestId>
          </ResponseMetadata>
        </CreateChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:36 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3A373045849756%3AchangeSet%2Fspec-aws-ruby-stack-update-new-template-20191124-154635%2F7dff374a-7496-47cc-be27-c97a5e572d61&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154636Z
      X-Amz-Content-Sha256:
      - b2b52d430f62fa8830e1412a2fb9796f0e132f654a355e540eba1c7511a22d3b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1e019c0c-914e-4f15-b9ca-1baa532bb3c2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeChangeSetResult>
            <Capabilities/>
            <CreationTime>2019-11-24T15:46:36.058Z</CreationTime>
            <NotificationARNs/>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-update-new-template/867771b0-0ed1-11ea-8f06-025282f53354</StackId>
            <ExecutionStatus>UNAVAILABLE</ExecutionStatus>
            <StackName>spec-aws-ruby-stack-update-new-template</StackName>
            <Changes/>
            <ChangeSetName>spec-aws-ruby-stack-update-new-template-20191124-154635</ChangeSetName>
            <RollbackConfiguration/>
            <Parameters>
              <member>
                <ParameterKey>BucketName</ParameterKey>
                <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
              </member>
              <member>
                <ParameterKey>TagValue</ParameterKey>
                <ParameterValue>howdy</ParameterValue>
              </member>
            </Parameters>
            <ChangeSetId>arn:aws:cloudformation:us-east-2:373045849756:changeSet/spec-aws-ruby-stack-update-new-template-20191124-154635/7dff374a-7496-47cc-be27-c97a5e572d61</ChangeSetId>
            <Status>CREATE_IN_PROGRESS</Status>
          </DescribeChangeSetResult>
          <ResponseMetadata>
            <RequestId>1e019c0c-914e-4f15-b9ca-1baa532bb3c2</RequestId>
          </ResponseMetadata>
        </DescribeChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:36 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ExecuteChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3A373045849756%3AchangeSet%2Fspec-aws-ruby-stack-update-new-template-20191124-154635%2F7dff374a-7496-47cc-be27-c97a5e572d61&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154643Z
      X-Amz-Content-Sha256:
      - 50db1e41f9468e8d6c12ee3886ce36fa426555628dbf1a6e6af4398fd846b67b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cca19d48-d038-4db1-8917-e98a655f2eac
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ExecuteChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ExecuteChangeSetResult/>
          <ResponseMetadata>
            <RequestId>cca19d48-d038-4db1-8917-e98a655f2eac</RequestId>
          </ResponseMetadata>
        </ExecuteChangeSetResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:43 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-update-new-template&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154651Z
      X-Amz-Content-Sha256:
      - bb18180cd3fd9efa06741315862be9b93947a107e635e6e301718f254e66c030
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d8ddaf45-f28a-47e4-8e3a-e74703ff268d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>d8ddaf45-f28a-47e4-8e3a-e74703ff268d</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:52 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-new-template&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191124T154658Z
      X-Amz-Content-Sha256:
      - d95f800c28614edc4ceb0feda5e47d26d6cef558af128e412c1639dc293a4996
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191124/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - a8394e8e-5f5a-4901-9c68-0173a6658e05
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-update-new-template does not exist</Message>
          </Error>
          <RequestId>a8394e8e-5f5a-4901-9c68-0173a6658e05</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 24 Nov 2019 15:46:59 GMT
recorded_with: VCR 4.0.0
