---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T195910Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9eaebfd0-63fb-4e40-b12f-dc7d23809608
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>9eaebfd0-63fb-4e40-b12f-dc7d23809608</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 10 Jun 2022 19:59:10 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20220610T195910Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - YHZYWV5Z94SXMSBF
      X-Amz-Version-Id:
      - 20dbC_0U7_8EGm5hzJiEI_mTRXnxF_Vw
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 10 Jun 2022 19:59:10 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=spec-aws-ruby-stack-create-tags&Tags.member.1.Key=foo&Tags.member.1.Value=bar&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T195910Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 7be64980d68d331016a8fa56e45b8f7d694c8a6aac441eff6c04edbfcd63fd94
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 26b3a9e6-af44-47b1-904b-038861a7f9f2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-create-tags/cb7cc280-e8f7-11ec-be12-0a706f24b09e</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>26b3a9e6-af44-47b1-904b-038861a7f9f2</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 10 Jun 2022 19:59:11 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-create-tags&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T195911Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 92e0e22558945ca57b04c8861ce9f00e6bc735c9f2ffbc1fbdd2c8c0a812ca53
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3369b8fd-cac5-40ce-a40d-cf118ef7107f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2022-06-10T19:59:11.355Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-create-tags/cb7cc280-e8f7-11ec-be12-0a706f24b09e</StackId>
                <StackName>spec-aws-ruby-stack-create-tags</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags>
                  <member>
                    <Value>bar</Value>
                    <Key>foo</Key>
                  </member>
                </Tags>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>3369b8fd-cac5-40ce-a40d-cf118ef7107f</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 10 Jun 2022 19:59:11 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=spec-aws-ruby-stack-create-tags&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T195938Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a57ddabfb9a55b9b155f5bed2c8390c672656714f14c9453617c70a719ca021a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c02d9e72-9c03-4485-a14b-2ab3967f1e39
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2022-06-10T19:59:35.833Z</LastUpdatedTimestamp>
                <PhysicalResourceId>spec-aws-ruby-stack-create-tags-s3bucket-10mywg1x3l1fa</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>c02d9e72-9c03-4485-a14b-2ab3967f1e39</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 10 Jun 2022 19:59:38 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&RetainResources=&StackName=spec-aws-ruby-stack-create-tags&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T195939Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 64d84aee9f2e047a2c817bb45658726bbb1ee08d4a4091f33ac1472a89223660
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ee1e050c-b265-4f82-bd21-61be16dfd2a2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>ee1e050c-b265-4f82-bd21-61be16dfd2a2</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 10 Jun 2022 19:59:39 GMT
recorded_with: VCR 6.0.0
