---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T165908Z
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 39ee1277-eccd-45bc-b861-bf10dd9f73a6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>39ee1277-eccd-45bc-b861-bf10dd9f73a6</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Thu, 21 May 2020 16:59:12 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20200521T165912Z
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 0E6AB29C26BAB500
      X-Amz-Version-Id:
      - elevSLtPJMMMN0Jn7jrIe9oAHQwrepw.
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 May 2020 16:59:13 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=spec-aws-ruby-stack-status&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T165913Z
      X-Amz-Content-Sha256:
      - af4a3debb451b6f77036c45b07768afbfce9dabfd8c23cb6d23bfb914058f52b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3403e74c-4ad4-4d68-a9eb-67a3443eb8cc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>3403e74c-4ad4-4d68-a9eb-67a3443eb8cc</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Thu, 21 May 2020 16:59:13 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T165913Z
      X-Amz-Content-Sha256:
      - f133a43363f11686fb5d7a190179e8e8e5985ed617ed87167682ec5dde118d58
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 36d015b1-c05f-4d72-a6d0-aecc719b328d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2020-05-21T16:59:13.777Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>36d015b1-c05f-4d72-a6d0-aecc719b328d</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 21 May 2020 16:59:14 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStackEvents&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T165941Z
      X-Amz-Content-Sha256:
      - cb1865e35410f371c13b5d46762dea570f6dccedc57d078fc9776991fd90a1fe
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 78b9c26d-b38a-4e92-9752-bfdfa93dc031
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStackEventsResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStackEventsResult>
            <StackEvents>
              <member>
                <EventId>74cb72a0-9b84-11ea-9b02-025084048856</EventId>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>spec-aws-ruby-stack-status</LogicalResourceId>
                <Timestamp>2020-05-21T16:59:38.560Z</Timestamp>
                <ResourceType>AWS::CloudFormation::Stack</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_COMPLETE-2020-05-21T16:59:37.504Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-s3bucket-15qhhsykxj6d</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-21T16:59:37.504Z</Timestamp>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_IN_PROGRESS-2020-05-21T16:59:16.689Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-s3bucket-15qhhsykxj6d</PhysicalResourceId>
                <ResourceStatus>CREATE_IN_PROGRESS</ResourceStatus>
                <ResourceStatusReason>Resource creation Initiated</ResourceStatusReason>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/65d297b0-9b84-11ea-b3ee-0abbead6f3aa</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-21T16:59:16.689Z</Timestamp>
                <ResourceType>AWS::S3::Bucke[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T165943Z
      X-Amz-Content-Sha256:
      - e19d1def04bf96908b1b9b1a0ddead0b9047e07e131f950dd128ee75c451d086
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a4d104b5-85ca-4e27-bb62-07c016b9089a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>a4d104b5-85ca-4e27-bb62-07c016b9089a</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Thu, 21 May 2020 16:59:43 GMT
recorded_with: VCR 5.1.0
