---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200104Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 962bb2a4-9864-49be-943d-5475cde59fe3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>962bb2a4-9864-49be-943d-5475cde59fe3</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 10 Jun 2022 20:01:04 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20220610T200104Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - ZZ8SV1ARC3AHBYG9
      X-Amz-Version-Id:
      - dd_ZlwXUsk8CNOSXRfrWP7IiqqOGNbM8
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 10 Jun 2022 20:01:05 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=spec-aws-ruby-stack-status&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200105Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - af4a3debb451b6f77036c45b07768afbfce9dabfd8c23cb6d23bfb914058f52b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - eebf68ac-29ab-471b-87c7-b993fe3305b3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>eebf68ac-29ab-471b-87c7-b993fe3305b3</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:01:06 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200106Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - f133a43363f11686fb5d7a190179e8e8e5985ed617ed87167682ec5dde118d58
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1043027b-3943-409c-b02f-cb28865cff31
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2022-06-10T20:01:06.082Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>1043027b-3943-409c-b02f-cb28865cff31</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 10 Jun 2022 20:01:06 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200133Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a5d880370a583f72e3657ea06b7f9c8b780e6974c0c9e85fc1140dc479ec730b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 515eb9f7-1c00-4a63-b21b-2e33c1466cd4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2022-06-10T20:01:30.356Z</LastUpdatedTimestamp>
                <PhysicalResourceId>spec-aws-ruby-stack-status-s3bucket-1eudwrwfnoyy6</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>515eb9f7-1c00-4a63-b21b-2e33c1466cd4</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 10 Jun 2022 20:01:33 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStackEvents&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200133Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - cb1865e35410f371c13b5d46762dea570f6dccedc57d078fc9776991fd90a1fe
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9d70fcdb-55ba-46d7-a808-3dd05557fb87
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStackEventsResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStackEventsResult>
            <StackEvents>
              <member>
                <EventId>1f1731f0-e8f8-11ec-8e0d-0674b30a1eb6</EventId>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</PhysicalResourceId>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>spec-aws-ruby-stack-status</LogicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <Timestamp>2022-06-10T20:01:31.273Z</Timestamp>
                <ResourceType>AWS::CloudFormation::Stack</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_COMPLETE-2022-06-10T20:01:30.356Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-s3bucket-1eudwrwfnoyy6</PhysicalResourceId>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <Timestamp>2022-06-10T20:01:30.356Z</Timestamp>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_IN_PROGRESS-2022-06-10T20:01:09.856Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-s3bucket-1eudwrwfnoyy6</PhysicalResourceId>
                <ResourceStatusReason>Resource creation Initiated</ResourceStatusReason>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status/0fb81b20-e8f8-11ec-bbd8-022799202bb6</StackId>
                <StackName>spec-aws-ruby-stack-status</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceStatus>CREATE_IN_PROGRESS</ResourceStatus>
                <Timestamp>2022-06-10T20[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&RetainResources=&StackName=spec-aws-ruby-stack-status&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T200133Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 8ac7cfdddd406bc03ce175e3b910c53cb06ac4d0425e07826977af8a6e7b05c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b8fde757-bc51-4562-a20a-00c705c14c1f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>b8fde757-bc51-4562-a20a-00c705c14c1f</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:01:34 GMT
recorded_with: VCR 6.0.0
