---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200519T210241Z
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9de3eef7-abe7-4f47-8ccc-e32f19ab7ead
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>9de3eef7-abe7-4f47-8ccc-e32f19ab7ead</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Tue, 19 May 2020 21:02:42 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20200519T210242Z
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 6AD29ABEF021F870
      X-Amz-Version-Id:
      - yQJnD9vn1m.0_E0TiugvtBwFBDS5UIu2
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 19 May 2020 21:02:43 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=spec-aws-ruby-stack-status-reason&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200519T210243Z
      X-Amz-Content-Sha256:
      - 4eafb7021ee632a1a502c304f35251aac20aebd8de16fe0147e54200e5e9f4fa
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2e76c50f-8ffd-415d-8dd7-66e988798587
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>2e76c50f-8ffd-415d-8dd7-66e988798587</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Tue, 19 May 2020 21:02:44 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200519T210244Z
      X-Amz-Content-Sha256:
      - f18edd3d1b9abffe92860b5e11d71e0e40d5a7153497364dcde50d3bbfa31b1c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 343be165-1430-45e9-9342-bd039f36bda3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2020-05-19T21:02:44.154Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>343be165-1430-45e9-9342-bd039f36bda3</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 19 May 2020 21:02:44 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStackEvents&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200519T210312Z
      X-Amz-Content-Sha256:
      - b8a442c06c0313aee7d63f2882f62592e8a38625d2b9189dbebff5160b1b2638
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 28be523c-7006-4068-a8b1-0358e72515e6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStackEventsResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStackEventsResult>
            <StackEvents>
              <member>
                <EventId>24901ff0-9a14-11ea-80e5-0608930970a0</EventId>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>spec-aws-ruby-stack-status-reason</LogicalResourceId>
                <Timestamp>2020-05-19T21:03:09.160Z</Timestamp>
                <ResourceType>AWS::CloudFormation::Stack</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_COMPLETE-2020-05-19T21:03:07.996Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-reason-s3bucket-1591xv448l72o</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-19T21:03:07.996Z</Timestamp>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_IN_PROGRESS-2020-05-19T21:02:47.109Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-reason-s3bucket-1591xv448l72o</PhysicalResourceId>
                <ResourceStatus>CREATE_IN_PROGRESS</ResourceStatus>
                <ResourceStatusReason>Resource creation Initiated</ResourceStatusReason>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/155707b0-9a14-11ea-a9b9-021a782363a8</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-19T21:02:47.109Z</Timestamp>
                <ResourceType>[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200519T210312Z
      X-Amz-Content-Sha256:
      - 47fd2bc1186ef76a27878422b7cab86fe706bed1ed42780fdc7a3501d0609f94
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200519/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6e66c633-941a-4a82-a2d4-530cbb1cdbc3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>6e66c633-941a-4a82-a2d4-530cbb1cdbc3</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Tue, 19 May 2020 21:03:13 GMT
recorded_with: VCR 5.1.0
