---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Just%20a%20bucket%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T033859Z
      X-Amz-Content-Sha256:
      - 8afc2f08c2b059cbeedb3caba0e505280d1e67a5188b98f6fb9b1a384b9405bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a35d9825-ed25-4c2c-bdf2-8f6cc75f9540
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Just a bucket
        </Description>
            <Parameters/>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>a35d9825-ed25-4c2c-bdf2-8f6cc75f9540</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Thu, 21 May 2020 03:38:59 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/simple.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Just a bucket

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - SWrMwFciS4Dd0MtHMjBc+w==
      X-Amz-Date:
      - 20200521T033859Z
      X-Amz-Content-Sha256:
      - 2b9163e03e5682f82f3c034ef3dfa9e58cb7592cf651af6dc96d5c927d4f5454
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2E3D0881E34D4957
      X-Amz-Version-Id:
      - JHhFOskPxVSl030nhVDnLqRszIhnYeUC
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"496accc057224b80ddd0cb4732305cfb"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 May 2020 03:39:00 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters=&StackName=spec-aws-ruby-stack-status-reason&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Fsimple.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T033900Z
      X-Amz-Content-Sha256:
      - 4eafb7021ee632a1a502c304f35251aac20aebd8de16fe0147e54200e5e9f4fa
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 77ed0807-0bf6-4b04-a55f-2a33563b7b1e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>77ed0807-0bf6-4b04-a55f-2a33563b7b1e</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Thu, 21 May 2020 03:39:02 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T033902Z
      X-Amz-Content-Sha256:
      - f18edd3d1b9abffe92860b5e11d71e0e40d5a7153497364dcde50d3bbfa31b1c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8526659d-2181-4fc3-be8a-e9c811f0b28f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2020-05-21T03:39:01.775Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <Description>Just a bucket
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>8526659d-2181-4fc3-be8a-e9c811f0b28f</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 21 May 2020 03:39:02 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStackEvents&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T033930Z
      X-Amz-Content-Sha256:
      - b8a442c06c0313aee7d63f2882f62592e8a38625d2b9189dbebff5160b1b2638
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f3fb8c40-27e9-477d-a168-4bba7e98c8e9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStackEventsResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStackEventsResult>
            <StackEvents>
              <member>
                <EventId>abb57ab0-9b14-11ea-8c08-064e0383f37e</EventId>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>spec-aws-ruby-stack-status-reason</LogicalResourceId>
                <Timestamp>2020-05-21T03:39:27.057Z</Timestamp>
                <ResourceType>AWS::CloudFormation::Stack</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_COMPLETE-2020-05-21T03:39:25.752Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-reason-s3bucket-33065vgh3bym</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-21T03:39:25.752Z</Timestamp>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
              <member>
                <EventId>S3Bucket-CREATE_IN_PROGRESS-2020-05-21T03:39:04.946Z</EventId>
                <PhysicalResourceId>spec-aws-ruby-stack-status-reason-s3bucket-33065vgh3bym</PhysicalResourceId>
                <ResourceStatus>CREATE_IN_PROGRESS</ResourceStatus>
                <ResourceStatusReason>Resource creation Initiated</ResourceStatusReason>
                <ResourceProperties>{}</ResourceProperties>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-status-reason/9c3baff0-9b14-11ea-9582-065ddb117676</StackId>
                <StackName>spec-aws-ruby-stack-status-reason</StackName>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <Timestamp>2020-05-21T03:39:04.946Z</Timestamp>
                <ResourceType>[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-status-reason&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200521T033930Z
      X-Amz-Content-Sha256:
      - 47fd2bc1186ef76a27878422b7cab86fe706bed1ed42780fdc7a3501d0609f94
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200521/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b77da8ac-fab1-4f5f-a779-1ff1897e9b21
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>b77da8ac-fab1-4f5f-a779-1ff1897e9b21</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Thu, 21 May 2020 03:39:31 GMT
recorded_with: VCR 5.1.0
