---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Test%20template%20one%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20TagValue%3A%0A%20%20%20%20Type%3A%20String%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A%20%20%20%20Properties%3A%0A%20%20%20%20%20%20BucketName%3A%20%21Ref%20%27BucketName%27%0A%20%20%20%20%20%20Tags%3A%0A%20%20%20%20%20%20%20%20-%20Key%3A%20Tag1%0A%20%20%20%20%20%20%20%20%20%20Value%3A%20%21Ref%20%27TagValue%27%0A%0AOutputs%3A%0A%0A%20%20BucketArn%3A%0A%20%20%20%20Value%3A%20%21GetAtt%20%27S3Bucket.Arn%27%0A%20%20%20%20Export%3A%0A%20%20%20%20%20%20Name%3A%20%21Sub%20%27%24%7BAWS%3A%3AStackName%7D-BucketArn%27%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185025Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 4c4130d6d8ee21d1264dded763ed8d1415f408345990e0ea0c57bac79465bafc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4eb90725-728b-11e9-855c-8f1ef89597b0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Test template one
        </Description>
            <Parameters>
              <member>
                <ParameterKey>BucketName</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
              <member>
                <ParameterKey>TagValue</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
            </Parameters>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>4eb90725-728b-11e9-855c-8f1ef89597b0</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Thu, 09 May 2019 18:50:25 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/template_one.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Test template one

        Parameters:

          BucketName:
            Type: String

          TagValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
                - Key: Tag1
                  Value: !Ref 'TagValue'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - iwRQXuudefxiuYnuy/AKYA==
      X-Amz-Date:
      - 20190509T185026Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 44820f5081bfdd4c387cf15b34f8f70367dbba4e87e0c51380353e1b3b436eab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 741086AF044B5509
      X-Amz-Version-Id:
      - ZPrA8rH5kHKgc3yrYmUuzKCcoJBs0bMM
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"8b04505eeb9d79fc62b989eecbf00a60"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 09 May 2019 18:50:26 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.ParameterValue=aws-ruby-rspec-bucket&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.ParameterValue=howdy&StackName=spec-aws-ruby-stack-update-no-changes&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Ftemplate_one.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185026Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - b9999c72b34eaf2d904e7758f96f5ac58bb3901efeb67909c2690dea675f7b32
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4f4ae6c3-728b-11e9-93a2-3bada1285395
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-update-no-changes/4f5175b0-728b-11e9-b918-0afb0832a490</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>4f4ae6c3-728b-11e9-93a2-3bada1285395</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Thu, 09 May 2019 18:50:27 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-no-changes&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185027Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 808c047ff2fcb931e8ac268ce75494712e19f9c7b412af602f0c76b57fbd2cd0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4fd1f122-728b-11e9-93a2-3bada1285395
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-05-09T18:50:27.183Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-update-no-changes/4f5175b0-728b-11e9-b918-0afb0832a490</StackId>
                <StackName>spec-aws-ruby-stack-update-no-changes</StackName>
                <Description>Test template one
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>TagValue</ParameterKey>
                    <ParameterValue>howdy</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>4fd1f122-728b-11e9-93a2-3bada1285395</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 09 May 2019 18:50:27 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-no-changes&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185059Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 808c047ff2fcb931e8ac268ce75494712e19f9c7b412af602f0c76b57fbd2cd0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 62fdee52-728b-11e9-93a2-3bada1285395
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <ExportName>spec-aws-ruby-stack-update-no-changes-BucketArn</ExportName>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-rspec-bucket</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2019-05-09T18:50:27.183Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-update-no-changes/4f5175b0-728b-11e9-b918-0afb0832a490</StackId>
                <StackName>spec-aws-ruby-stack-update-no-changes</StackName>
                <Description>Test template one
  [...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateChangeSet&Capabilities=&ChangeSetName=spec-aws-ruby-stack-update-no-changes-20190509-185100&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.UsePreviousValue=true&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.UsePreviousValue=true&StackName=spec-aws-ruby-stack-update-no-changes&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Ftemplate_one.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185100Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a1c0628297f863ecd6578981a842c4b76821418b4ec653deef85010c9db9ed39
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 636c18c6-728b-11e9-9821-8163095fa640
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateChangeSetResult>
            <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-update-no-changes/4f5175b0-728b-11e9-b918-0afb0832a490</StackId>
            <Id>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:changeSet/spec-aws-ruby-stack-update-no-changes-20190509-185100/87fa1925-2d50-4518-928f-eea8be22b3ab</Id>
          </CreateChangeSetResult>
          <ResponseMetadata>
            <RequestId>636c18c6-728b-11e9-9821-8163095fa640</RequestId>
          </ResponseMetadata>
        </CreateChangeSetResponse>
  recorded_at: Thu, 09 May 2019 18:51:01 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3AAWS_ACCOUNT_ID%3AchangeSet%2Fspec-aws-ruby-stack-update-no-changes-20190509-185100%2F87fa1925-2d50-4518-928f-eea8be22b3ab&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185101Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - bd36a73a5fce3d40b6ae037dc62aa473c6532db9108753dbd151eeccad35bd2f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 641180cf-728b-11e9-a94d-433b755443a7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeChangeSetResult>
            <Capabilities/>
            <CreationTime>2019-05-09T18:51:01.290Z</CreationTime>
            <NotificationARNs/>
            <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-update-no-changes/4f5175b0-728b-11e9-b918-0afb0832a490</StackId>
            <ExecutionStatus>UNAVAILABLE</ExecutionStatus>
            <StackName>spec-aws-ruby-stack-update-no-changes</StackName>
            <Changes/>
            <ChangeSetName>spec-aws-ruby-stack-update-no-changes-20190509-185100</ChangeSetName>
            <RollbackConfiguration/>
            <StatusReason>The submitted information didn't contain changes. Submit different information to create a change set.</StatusReason>
            <Parameters>
              <member>
                <ParameterKey>BucketName</ParameterKey>
                <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
              </member>
              <member>
                <ParameterKey>TagValue</ParameterKey>
                <ParameterValue>howdy</ParameterValue>
              </member>
            </Parameters>
            <ChangeSetId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:changeSet/spec-aws-ruby-stack-update-no-changes-20190509-185100/87fa1925-2d50-4518-928f-eea8be22b3ab</ChangeSetId>
            <Status>FAILED</Status>
          </DescribeChangeSetResult>
          <ResponseMetadata>
            <RequestId>641180cf-728b-11e9-a94d-433b755443a7</RequestId>
          </ResponseMetadata>
        </DescribeChangeSetResponse>
  recorded_at: Thu, 09 May 2019 18:51:01 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteChangeSet&ChangeSetName=arn%3Aaws%3Acloudformation%3Aus-east-2%3AAWS_ACCOUNT_ID%3AchangeSet%2Fspec-aws-ruby-stack-update-no-changes-20190509-185100%2F87fa1925-2d50-4518-928f-eea8be22b3ab&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185101Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a0f5e6bfef1a6219285c848c96bc0d3967ac4ffc2c1482634891d96dcfb77180
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 64449eff-728b-11e9-b777-05d87f38dffc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteChangeSetResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DeleteChangeSetResult/>
          <ResponseMetadata>
            <RequestId>64449eff-728b-11e9-b777-05d87f38dffc</RequestId>
          </ResponseMetadata>
        </DeleteChangeSetResponse>
  recorded_at: Thu, 09 May 2019 18:51:02 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-update-no-changes&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185102Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - ecc8e107def5db2ac93672e543a9a06ba5047fad97eb8129295e43529c0da268
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6479df64-728b-11e9-9821-8163095fa640
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>6479df64-728b-11e9-9821-8163095fa640</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Thu, 09 May 2019 18:51:02 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-update-no-changes&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190509T185107Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 808c047ff2fcb931e8ac268ce75494712e19f9c7b412af602f0c76b57fbd2cd0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190509/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 67f28b4f-728b-11e9-ad17-9fa9eb9c0654
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-update-no-changes does not exist</Message>
          </Error>
          <RequestId>67f28b4f-728b-11e9-ad17-9fa9eb9c0654</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 09 May 2019 18:51:08 GMT
recorded_with: VCR 4.0.0
