---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-delete-non-existing&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193241Z
      X-Amz-Content-Sha256:
      - d493e53f0008c39804861f398041ec7b9d5a5247d56b1e2a334c4878b4f70120
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 2eec09ae-9ffb-4f85-bda7-2bbc9a0d1172
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-delete-non-existing does not exist</Message>
          </Error>
          <RequestId>2eec09ae-9ffb-4f85-bda7-2bbc9a0d1172</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 08 Nov 2019 19:32:41 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-delete-non-existing&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20191108T193241Z
      X-Amz-Content-Sha256:
      - d493e53f0008c39804861f398041ec7b9d5a5247d56b1e2a334c4878b4f70120
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - f3b94a62-bb89-4f98-9a35-71cbd9f41dc0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-delete-non-existing does not exist</Message>
          </Error>
          <RequestId>f3b94a62-bb89-4f98-9a35-71cbd9f41dc0</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 08 Nov 2019 19:32:42 GMT
recorded_with: VCR 4.0.0
