---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-delete-non-existing&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190510T200410Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 45e99dab7dbaaf01ba55bbbdbbea9fc4c1e29b5f23dd29bc3ea906b178dea4c4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190510/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c6822a46-735e-11e9-99c9-e7ad0ddce188
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>c6822a46-735e-11e9-99c9-e7ad0ddce188</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 10 May 2019 20:04:10 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-delete-non-existing&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190510T200410Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - d493e53f0008c39804861f398041ec7b9d5a5247d56b1e2a334c4878b4f70120
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190510/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - c6b9dc3a-735e-11e9-abab-7d9b00ffae7e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>ValidationError</Code>
            <Message>Stack with id spec-aws-ruby-stack-delete-non-existing does not exist</Message>
          </Error>
          <RequestId>c6b9dc3a-735e-11e9-abab-7d9b00ffae7e</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 10 May 2019 20:04:11 GMT
recorded_with: VCR 4.0.0
