---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200407T133150Z
      X-Amz-Content-Sha256:
      - 3fb563d96748e13e09dec79da43734f745777cc7b4ae922cfd622475d2ecfa32
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20200407/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 69be84d1-ecfd-477d-b217-15532dd46c72
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStacksResult>
            <StackSummaries>
              <member>
                <CreationTime>2020-04-02T13:19:15.632Z</CreationTime>
                <StackId>arn:aws:cloudformation:us-east-1:373045849756:stack/release-57-main-distribution/8c951f10-74e4-11ea-9e17-12c1d85cca19</StackId>
                <TemplateDescription>The main &quot;front door&quot; CloudFront distribution</TemplateDescription>
                <StackName>release-57-main-distribution</StackName>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <StackStatus>UPDATE_COMPLETE</StackStatus>
                <LastUpdatedTime>2020-04-06T20:15:40.078Z</LastUpdatedTime>
              </member>
              <member>
                <CreationTime>2020-04-01T19:39:03.724Z</CreationTime>
                <StackId>arn:aws:cloudformation:us-east-1:373045849756:stack/cops-distribution/7164ab50-7450-11ea-9253-12cb3b0f9c64</StackId>
                <TemplateDescription>Content Distribution</TemplateDescription>
                <StackName>cops-distribution</StackName>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <LastUpdatedTime>2020-04-01T19:39:09.174Z</LastUpdatedTime>
              </member>
              <member>
                <CreationTime>2020-04-01T13:49:37.020Z</CreationTime>
                <StackId>arn:aws:cloudformation:us-east-1:373045849756:stack/piotr-test-search-elasticsearch/9fd5f970-741f-11ea-ad19-12b44143da02</StackId>
                <TemplateDescription>Open-Search Elasticsearch</TemplateDescription>
                <StackName>piotr-test-search-elasticsearch</StackName>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <StackStatus>ROLLBACK_COMPLETE</StackStatus>
                <DeletionTime>2020-04-01T13:49:47.139Z</DeletionTime>
              </member>
              <member>
                <CreationTime>2020-04-01T13:48:30.209Z</CreationTime>
                <StackId>arn:aws:cloudformation:us-east-1:373045849756:stack/piotr-test-search-network/7800ada0-741f-11ea-ba00-0ea47a628cf7</StackId>
                <TemplateDescription>Open-Search Network</TemplateDescription>
                <StackName>piotr-test-search-network</StackName>
                <DriftInformation>
              [...]
