---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Test%20template%20one%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20TagValue%3A%0A%20%20%20%20Type%3A%20String%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A%20%20%20%20Properties%3A%0A%20%20%20%20%20%20BucketName%3A%20%21Ref%20%27BucketName%27%0A%20%20%20%20%20%20Tags%3A%0A%20%20%20%20%20%20%20%20-%20Key%3A%20Tag1%0A%20%20%20%20%20%20%20%20%20%20Value%3A%20%21Ref%20%27TagValue%27%0A%0AOutputs%3A%0A%0A%20%20BucketArn%3A%0A%20%20%20%20Value%3A%20%21GetAtt%20%27S3Bucket.Arn%27%0A%20%20%20%20Export%3A%0A%20%20%20%20%20%20Name%3A%20%21Sub%20%27%24%7BAWS%3A%3AStackName%7D-BucketArn%27%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202033Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 4c4130d6d8ee21d1264dded763ed8d1415f408345990e0ea0c57bac79465bafc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c47a097d-a111-468c-89ae-7d7289aaef96
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Test template one
        </Description>
            <Parameters>
              <member>
                <NoEcho>false</NoEcho>
                <ParameterKey>BucketName</ParameterKey>
              </member>
              <member>
                <NoEcho>false</NoEcho>
                <ParameterKey>TagValue</ParameterKey>
              </member>
            </Parameters>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>c47a097d-a111-468c-89ae-7d7289aaef96</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 10 Jun 2022 20:20:33 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec-templates/template_one.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Test template one

        Parameters:

          BucketName:
            Type: String

          TagValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
                - Key: Tag1
                  Value: !Ref 'TagValue'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Md5:
      - iwRQXuudefxiuYnuy/AKYA==
      X-Amz-Date:
      - 20220610T202033Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 44820f5081bfdd4c387cf15b34f8f70367dbba4e87e0c51380353e1b3b436eab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - JBR909TSASF83NCW
      X-Amz-Version-Id:
      - hx8WuWsDUTD6U6cc0re3EVnRXN4WJPTx
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"8b04505eeb9d79fc62b989eecbf00a60"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 10 Jun 2022 20:20:33 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities=&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.ParameterValue=aws-ruby-rspec-bucket&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.ParameterValue=howdy&StackName=spec-aws-ruby-stack-parameter-defaults&Tags=&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec-templates%2Ftemplate_one.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202033Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - b2a25491dce46dabbd2331eaf8571464e4716fa7bc9358a3306ed3630b3a8125
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2fda8030-78b0-41f5-b3f2-4e86c37036e9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-parameter-defaults/c85192e0-e8fa-11ec-9f0f-02796b356468</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>2fda8030-78b0-41f5-b3f2-4e86c37036e9</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:20:34 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-parameter-defaults&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202034Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - dedb9323659b15e9bc62233e5e805e710d8653be986e2e6cc4958a8ddc435720
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 481deb71-3315-4e50-9c16-d1afde79cb51
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2022-06-10T20:20:34.755Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-parameter-defaults/c85192e0-e8fa-11ec-9f0f-02796b356468</StackId>
                <StackName>spec-aws-ruby-stack-parameter-defaults</StackName>
                <Description>Test template one
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>TagValue</ParameterKey>
                    <ParameterValue>howdy</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>481deb71-3315-4e50-9c16-d1afde79cb51</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 10 Jun 2022 20:20:35 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-parameter-defaults&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202106Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - dedb9323659b15e9bc62233e5e805e710d8653be986e2e6cc4958a8ddc435720
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c2315651-53ca-4a46-bf4a-e236dc548e62
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-rspec-bucket</OutputValue>
                    <ExportName>spec-aws-ruby-stack-parameter-defaults-BucketArn</ExportName>
                  </member>
                </Outputs>
                <CreationTime>2022-06-10T20:20:34.755Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-parameter-defaults/c85192e0-e8fa-11ec-9f0f-02796b356468</StackId>
                <StackName>spec-aws-ruby-stack-parameter-defaults</StackName>
                <Description>Test te[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=spec-aws-ruby-stack-parameter-defaults&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202106Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - b43e6fc556105ddb8566cd938835c35000db8f7969ae5f20fe376fc75c438bf8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e25e4136-4e6b-4b04-a960-453ad7b9347e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2022-06-10T20:20:59.830Z</LastUpdatedTimestamp>
                <PhysicalResourceId>aws-ruby-rspec-bucket</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>S3Bucket</LogicalResourceId>
                <ResourceType>AWS::S3::Bucket</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>e25e4136-4e6b-4b04-a960-453ad7b9347e</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 10 Jun 2022 20:21:07 GMT
- request:
    method: get
    uri: https://aws-ruby-rspec-bucket.s3.us-east-2.amazonaws.com/?tagging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20220610T202107Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 7V2FB9KWVCXWKFGG
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>Tag1</Key><Value>howdy</Value></Tag><Tag><Key>aws:cloudformation:stack-name</Key><Value>spec-aws-ruby-stack-parameter-defaults</Value></Tag><Tag><Key>aws:cloudformation:logical-id</Key><Value>S3Bucket</Value></Tag><Tag><Key>aws:cloudformation:stack-id</Key><Value>arn:aws:cloudformation:us-east-2:373045849756:stack/spec-aws-ruby-stack-parameter-defaults/c85192e0-e8fa-11ec-9f0f-02796b356468</Value></Tag></TagSet></Tagging>
  recorded_at: Fri, 10 Jun 2022 20:21:07 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&RetainResources=&StackName=spec-aws-ruby-stack-parameter-defaults&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220610T202107Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 9712d3bf3958e41ed0e6d1a85236bd754b2235f2ef280ba58b88c1fc3da67f0b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20220610/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e8118bba-446f-494b-9324-effd7d09a9a6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>e8118bba-446f-494b-9324-effd7d09a9a6</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 10 Jun 2022 20:21:07 GMT
recorded_with: VCR 6.0.0
