---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ValidateTemplate&TemplateBody=Description%3A%20%3E%0A%20%20Test%20template%20one%0A%0AParameters%3A%0A%0A%20%20BucketName%3A%0A%20%20%20%20Type%3A%20String%0A%0A%20%20TagValue%3A%0A%20%20%20%20Type%3A%20String%0A%0AResources%3A%0A%0A%20%20S3Bucket%3A%0A%20%20%20%20Type%3A%20AWS%3A%3AS3%3A%3ABucket%0A%20%20%20%20Properties%3A%0A%20%20%20%20%20%20BucketName%3A%20%21Ref%20%27BucketName%27%0A%20%20%20%20%20%20Tags%3A%0A%20%20%20%20%20%20%20%20-%20Key%3A%20Tag1%0A%20%20%20%20%20%20%20%20%20%20Value%3A%20%21Ref%20%27TagValue%27%0A%0AOutputs%3A%0A%0A%20%20BucketArn%3A%0A%20%20%20%20Value%3A%20%21GetAtt%20%27S3Bucket.Arn%27%0A%20%20%20%20Export%3A%0A%20%20%20%20%20%20Name%3A%20%21Sub%20%27%24%7BAWS%3A%3AStackName%7D-BucketArn%27%0A&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190426T213853Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 4c4130d6d8ee21d1264dded763ed8d1415f408345990e0ea0c57bac79465bafc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-west-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b05b6682-686b-11e9-b596-d93a2ef06c3b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ValidateTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ValidateTemplateResult>
            <Description>Test template one
        </Description>
            <Parameters>
              <member>
                <ParameterKey>BucketName</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
              <member>
                <ParameterKey>TagValue</ParameterKey>
                <NoEcho>false</NoEcho>
              </member>
            </Parameters>
          </ValidateTemplateResult>
          <ResponseMetadata>
            <RequestId>b05b6682-686b-11e9-b596-d93a2ef06c3b</RequestId>
          </ResponseMetadata>
        </ValidateTemplateResponse>
  recorded_at: Fri, 26 Apr 2019 21:38:54 GMT
- request:
    method: put
    uri: https://openstax-sandbox-cfn-templates.s3.us-west-2.amazonaws.com/cfn_templates/spec/template_one.yml
    body:
      encoding: UTF-8
      string: |
        Description: >
          Test template one

        Parameters:

          BucketName:
            Type: String

          TagValue:
            Type: String

        Resources:

          S3Bucket:
            Type: AWS::S3::Bucket
            Properties:
              BucketName: !Ref 'BucketName'
              Tags:
                - Key: Tag1
                  Value: !Ref 'TagValue'

        Outputs:

          BucketArn:
            Value: !GetAtt 'S3Bucket.Arn'
            Export:
              Name: !Sub '${AWS::StackName}-BucketArn'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - iwRQXuudefxiuYnuy/AKYA==
      X-Amz-Date:
      - 20190426T213854Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 44820f5081bfdd4c387cf15b34f8f70367dbba4e87e0c51380353e1b3b436eab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-west-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - DE3466D1A66A5E28
      X-Amz-Version-Id:
      - 47y9IZpi56qgXZFMF3MEE251jCw.Xf4k
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"8b04505eeb9d79fc62b989eecbf00a60"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Apr 2019 21:38:54 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateStack&Capabilities.member.1=CAPABILITY_IAM&Capabilities.member.2=CAPABILITY_NAMED_IAM&EnableTerminationProtection=false&Parameters.member.1.ParameterKey=BucketName&Parameters.member.1.ParameterValue=aws-ruby-rspec-bucket&Parameters.member.2.ParameterKey=TagValue&Parameters.member.2.ParameterValue=howdy&StackName=spec-aws-ruby-stack-default-parameters&TemplateURL=https%3A%2F%2Fs3.amazonaws.com%2Fopenstax-sandbox-cfn-templates%2Fcfn_templates%2Fspec%2Ftemplate_one.yml&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190426T213854Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 76fe3d6d3fad4af6f5f8610de0c41c3728f36f0a3fe0a627453153fddb3c4f85
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b0d8d3fd-686b-11e9-b2b1-13a2fc23ca01
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-default-parameters/b0e1d3d0-686b-11e9-842e-0a1513ed47e4</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>b0d8d3fd-686b-11e9-b2b1-13a2fc23ca01</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Fri, 26 Apr 2019 21:38:55 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-default-parameters&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190426T213855Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - b4f7b7f2eb4d7a08fa420199d39ac3a348c36061ff3193212deafcd07e1683ab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b1a23e48-686b-11e9-ab35-71c081e3045d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Capabilities>
                  <member>CAPABILITY_IAM</member>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2019-04-26T21:38:55.790Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-default-parameters/b0e1d3d0-686b-11e9-842e-0a1513ed47e4</StackId>
                <StackName>spec-aws-ruby-stack-default-parameters</StackName>
                <Description>Test template one
        </Description>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>BucketName</ParameterKey>
                    <ParameterValue>aws-ruby-rspec-bucket</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>TagValue</ParameterKey>
                    <ParameterValue>howdy</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>b1a23e48-686b-11e9-ab35-71c081e3045d</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 26 Apr 2019 21:38:56 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=spec-aws-ruby-stack-default-parameters&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190426T213928Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - b4f7b7f2eb4d7a08fa420199d39ac3a348c36061ff3193212deafcd07e1683ab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c4dfef0a-686b-11e9-8f2f-eb003041906d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <ExportName>spec-aws-ruby-stack-default-parameters-BucketArn</ExportName>
                    <OutputKey>BucketArn</OutputKey>
                    <OutputValue>arn:aws:s3:::aws-ruby-rspec-bucket</OutputValue>
                  </member>
                </Outputs>
                <Capabilities>
                  <member>CAPABILITY_IAM</member>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2019-04-26T21:38:55.790Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-default-parameters/b0e[...]
- request:
    method: get
    uri: https://aws-ruby-rspec-bucket.s3.us-east-2.amazonaws.com/?tagging
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190426T213928Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-east-2/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 54F00E3CF0F7EEEB
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>Tag1</Key><Value>howdy</Value></Tag><Tag><Key>aws:cloudformation:stack-name</Key><Value>spec-aws-ruby-stack-default-parameters</Value></Tag><Tag><Key>aws:cloudformation:logical-id</Key><Value>S3Bucket</Value></Tag><Tag><Key>aws:cloudformation:stack-id</Key><Value>arn:aws:cloudformation:us-east-2:AWS_ACCOUNT_ID:stack/spec-aws-ruby-stack-default-parameters/b0e1d3d0-686b-11e9-842e-0a1513ed47e4</Value></Tag></TagSet></Tagging>
  recorded_at: Fri, 26 Apr 2019 21:39:29 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteStack&StackName=spec-aws-ruby-stack-default-parameters&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190426T213929Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 0cb72fd541f5738aaea82940dc8df8848571a01a5c19f37eb10d950ba6313330
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190426/us-east-2/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c5532281-686b-11e9-a06b-49b3e1023431
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>c5532281-686b-11e9-a06b-49b3e1023431</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Fri, 26 Apr 2019 21:39:29 GMT
recorded_with: VCR 4.0.0
