---
http_interactions:
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","Type":"String","Value":"howdy"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191108T191205Z
      X-Amz-Content-Sha256:
      - 6c521ad6057ec4c9fc79b7e983b274fa6bb0cdc6157d6a08d5a94b9db391a2c4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8b4b7a15-818d-4b72-8660-4db31426b8d5
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Fri, 08 Nov 2019 19:12:06 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Amz-Date:
      - 20191108T191206Z
      X-Amz-Content-Sha256:
      - 153e89a6146701f4a59fa1c22e9ea1f7907cf895e86f7e95a8dae5a5c878ddc4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b58d7cb8-bc59-429f-adf2-9cd154700389
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-rspec/something","DataType":"text","LastModifiedDate":1.573240326231E9,"Name":"/openstax-aws-ruby-rspec/something","Type":"String","Value":"howdy","Version":1}}'
  recorded_at: Fri, 08 Nov 2019 19:12:06 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-rspec/something"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20191108T191206Z
      X-Amz-Content-Sha256:
      - 64069e6290a174f8a3555165e072c6b5828687c9f82ae996721fd88eb014c7bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2b24c566-0f8e-4939-8a30-6ded94b51986
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-rspec/something"],"InvalidParameters":[]}'
  recorded_at: Fri, 08 Nov 2019 19:12:07 GMT
recorded_with: VCR 4.0.0
