---
http_interactions:
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","Type":"String","Value":"booyah"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191108T191204Z
      X-Amz-Content-Sha256:
      - 4eff440981877530dfc2c19f5bb2f5d5c78581afd1d72c4c928395f64b02cc82
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4e86636d-084c-4421-a93a-b9fdfa5fe073
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Fri, 08 Nov 2019 19:12:05 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Amz-Date:
      - 20191108T191205Z
      X-Amz-Content-Sha256:
      - 153e89a6146701f4a59fa1c22e9ea1f7907cf895e86f7e95a8dae5a5c878ddc4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7a859d50-0be3-4b08-8f3c-627a241916ed
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-rspec/something","DataType":"text","LastModifiedDate":1.573240325142E9,"Name":"/openstax-aws-ruby-rspec/something","Type":"String","Value":"booyah","Version":1}}'
  recorded_at: Fri, 08 Nov 2019 19:12:05 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-rspec/something"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20191108T191205Z
      X-Amz-Content-Sha256:
      - 64069e6290a174f8a3555165e072c6b5828687c9f82ae996721fd88eb014c7bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6ff84a4f-c238-4976-af21-0cbb9f2c0706
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-rspec/something"],"InvalidParameters":[]}'
  recorded_at: Fri, 08 Nov 2019 19:12:05 GMT
recorded_with: VCR 4.0.0
