---
http_interactions:
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","Type":"SecureString","Value":"secret!"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Amz-Date:
      - 20191108T191548Z
      X-Amz-Content-Sha256:
      - 64411e2bb8bbe11312c904207f71aa036034071654c053936d0a5f6582a098cf
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e74e39ef-1746-4127-9744-4a0d3dc466e6
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Tier":"Standard","Version":1}'
  recorded_at: Fri, 08 Nov 2019 19:15:48 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Name":"/openstax-aws-ruby-rspec/something","WithDecryption":true}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Amz-Date:
      - 20191108T191548Z
      X-Amz-Content-Sha256:
      - 153e89a6146701f4a59fa1c22e9ea1f7907cf895e86f7e95a8dae5a5c878ddc4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9b253fbd-fe2c-44dc-b99c-3aeda12c5b38
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:373045849756:parameter/openstax-aws-ruby-rspec/something","DataType":"text","LastModifiedDate":1.573240548741E9,"Name":"/openstax-aws-ruby-rspec/something","Type":"SecureString","Value":"secret!","Version":1}}'
  recorded_at: Fri, 08 Nov 2019 19:15:49 GMT
- request:
    method: post
    uri: https://ssm.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Names":["/openstax-aws-ruby-rspec/something"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonSSM.DeleteParameters
      X-Amz-Date:
      - 20191108T191549Z
      X-Amz-Content-Sha256:
      - 64069e6290a174f8a3555165e072c6b5828687c9f82ae996721fd88eb014c7bc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20191108/us-east-2/ssm/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2e48470d-8bf8-4f64-a923-7eb6302395fe
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"DeletedParameters":["/openstax-aws-ruby-rspec/something"],"InvalidParameters":[]}'
  recorded_at: Fri, 08 Nov 2019 19:15:49 GMT
recorded_with: VCR 4.0.0
